.header-box {
    height:156px;
    box-shadow:0 25px 50px -12px rgba(1, 1, 1, 1)
}
.mr-30 {
    padding-right: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.ml-30 {
    margin-left: 30px;
}
.mt-192 {
    margin-top: 192px;
}
.mb-30 {
    margin-bottom: 30px;
}
.pr-30 {
    padding-right: 30px;
}
